<div class="container">
  <div class="row">
      <div class="col-12 alert alert-info">
          <h2>Problema 10</h2>
          <p>
              Realice un programa que convierta una temperatura dada en grados centígrados a grados Fahrenheit. Imprima la temperatura en grados centígrados y en grados Fahrenheit.
          </p>
          <hr>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                  <label for="temperatureCelsius">Ingrese la temperatura &#8451;</label>
                  <input 
                    type="number"
                    min="0"
                    id="temperatureCelsius"
                    class="form-control"
                    [(ngModel)]="celsius"
                    (change)="getFahrenheit()">                  
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <label for="temperatureCelsius">Grados Fahrenheit</label>
                <div id="resultado">
                  <span id="fah_number">{{fahrenheit}}</span>
                  <p>Fahrenheit</p>
                </div>
              </div>
          </div>
          
      </div>
  </div>
</div>